@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* font-family: 'Lato', sans-serif; */

* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-color: rgba(247, 230, 247, 0.692);
}

body {
    margin: 10px;
}

#banner1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#banner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.top {
    display: flex;
    justify-content: flex-end;
}

.top a {
    color: darkred;
    font-size: 20px;
    text-decoration: none;
}

.top a:hover {
    color: black;    
}

#partlist, #navbar {
    background-color:#333333;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
} 

#partlist a, #navbar a {
    color: white;
    background-color: #333333;
    text-decoration: none;
    font-family: serif;
}

#partlist a:hover, #navbar a:hover, #rdmstart a:hover, #blmstart a:hover, .rdm a:hover, .blm a:hover {
    color: goldenrod;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
}

.rdm, .blm {
    display: flex;
    width: 600px;
}

.rdm485, .rdm500, .rdm510, .rdm515, .rdm535, .blm485, .blm500, .blm510, .blm515, .blm535 {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.rdm a {
    text-decoration: none;
    color: red;
}

.blm a {
    text-decoration: none;
    color: black;
}

#part1, #part2, #part3, #part4, #part5, #part6 {
    background-color: #333333;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
}

#start {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#rdmstart a {
    text-decoration: none;
    color: red;
}

#blmstart a {
    text-decoration: none;
    color: black;
}

#rdmlink {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    color: red;
}

#blmlink {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
}
